.chat_box {
    height: 320px;
    overflow: hidden;
}
/* == */
.light_blue_shedo{
	    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.purple_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(167, 104, 243, 0.57);
}
.red_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.homepage_fl_right {
    float: right;
}
.bg_shedo_light{
	    box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.bg_shedo_light_green{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(52, 191, 163, 0.52);
}
.bg_shedo_light_red{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.bg_shedo_light_yellow{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(234, 196, 89, 0.57);
}
.homepage_fl_right h4 {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    margin-bottom: 9px;
}
.homepage_fl_right h3 {
    font-size: 22px;
    color: #2e2e3a;
    font-weight: 500;
    margin-bottom: 0px;
}
.homepage_single p {
    padding-top:15px;
    font-size: 12px;
    color: #999999;
    border-top: 1px solid #f2f2f2;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}
span.fl_right {
    float: right;
    color:#36a2f5;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
span.fl_right i {
    padding-left: 5px;
}
.home_space .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #d9d9d9 !important;
}
/* == */

.task_box{
    display: block;
    border-bottom: 1px solid #e5ebec;
    text-align: center;
}

.task_num{
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}
.f16{
	font-size: 16px;
}
.f45{
	font-size: 45px;
}
.bor_space{
	    padding:0px 0 20px;
    border-bottom: 1px solid #e5ebec;
}
 .task-assign {
    margin-top: 20px;
}
.task-assign ul.list-inline {
    margin:20px 0;
}
.task-assign ul.list-inline li {
    padding: 0 12px;
        display: inline-block;
}
.task-assign ul.list-inline li a {
    line-height: 30px;
    text-align: center;
}
.task-assign ul.list-inline li a, .task-assign ul.list-inline li img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
/* == */
.chart_height {
	height: 300px;
}
.home_space {
	height: 270px;
}
.home_space .baseline{
	margin-left: 7px;
}
/* == */

.chat_box{
	    height:320px;
    overflow: hidden;
}
.chat_box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #dedede;
   }
.left_align_me{
	overflow: hidden;
}
.left_align_me img{
	float: left;
	    height: 40px;
    width: 40px;
}
.left_align_me .chat-info {
    float: left;
    background: #f7f7f7;
        width: calc(100% - 60px);
    border-radius: 8px;
    padding:15px;
    position: relative;
        margin-left: 20px;
}
.left_align_me .chat-info:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f7f7f7;
    left: -10px;
    top: 12px;
        width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 12px;
}
.left_align_me .message, .right_align_me .message{
	margin: 0px;
	font-size: 14px;
}
.right_align_me .message{
	color: #fff;
}
.right_align_me img{
	float: right;
}
.right_align_me{
	margin: 15px 0px;
}
.right_align_me .chat-info{
	    background: #49c5b6;
    color: #fff;
        text-align: right;
            margin-right: 20px;
                width: calc(100% - 60px);
    border-radius: 8px;
    padding:15px;
    position: relative;
}
.right_align_me .chat-info:before {
       border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
        border-left: 10px solid #49c5b6;
    right: -10px;
    top: 12px;
        width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 12px;
}
/* == */
